
.task-wrapper {
  max-width: 750px;
  margin: 40px auto;
  padding: 10px;
  font-family: 'Segoe UI', sans-serif;
}


.task-list {
  display: flex;
  flex-direction: column;
  gap: 18px;

  padding: 24px;

  background: rgba(20, 20, 20, 0.75);
  backdrop-filter: blur(12px);
  border-radius: 18px;

  border: 1px solid rgba(255, 143, 207, 0.25);
  box-shadow: 0 0 25px rgba(255, 143, 207, 0.15);
}


app-task-card {
  display: block;
}


.loading {
  text-align: center;
  font-weight: 600;
  margin: 30px 0;
  color: #ff8fcf;
  font-size: 16px;
  text-shadow: 0 0 10px rgba(255, 143, 207, 0.7);
}


.error {
  text-align: center;
  font-weight: 600;
  margin: 20px 0;
  color: #ff4d6d;
}


.empty {
  text-align: center;
  margin-top: 40px;
  color: #ab7777;
  font-size: 15px;
  line-height: 1.6;
}